.MuiDataGrid-cell{
    outline: none!important;
}
.MuiDataGrid-colCell{
    outline: none!important;
}
.MuiDataGrid-window{
    overflow-x: hidden!important;
}
.redCapacity{
    background-color: red;
}
.greenCapacity{
    background-color: green;
}
.yellowCapacity{
    background-color: yellow;
}
.containerGrid{
    margin-right: 1%!important;
}